.react-calendar .highlight {
  background-color: #a88e97;
  color: white;
  border-radius: 0%;
}

.react-calendar {
  background: transparent !important;
  border: none !important;
}

.react-calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.detailcalendar .react-calendar__navigation {
  display: none;
}

.detailcalendar .react-calendar__tile--now {
  background-color: transparent;
}
.detailcalendar {
<<<<<<< HEAD
  pointer-events: none;
=======
  pointer-events: none; /* 모든 클릭 이벤트 비활성화 */
>>>>>>> 66ab00ec685011161385c6d3f89e5c1f8d4a1e46
}
