.react-calendar .highlight {
  background-color: #a88e97;
  color: white;
  border-radius: 0%;
}

.react-calendar {
  background: transparent !important;
  border: none !important;
}

.react-calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.detailcalendar .react-calendar__navigation {
  display: none;
}

.detailcalendar .react-calendar__tile--now {
  background-color: transparent;
}
.detailcalendar {
  pointer-events: none; /* 모든 클릭 이벤트 비활성화 */
}
.my-popup-class {
  max-width: 500px; /* 팝업 최대 너비 */
  padding: 20px; /* 팝업 내부 여백 */
  font-size: 14px;
}
