.home-container {
  text-align: center;
  font-family: 'Nanum_Bold';
}

.header {
  margin-bottom: 40px;
}

.video-container {
    position: relative;
    width: 100%; /* 비디오 컨테이너의 크기 */
  }

.video{
    width : 100%;
    opacity: 70%;
}
.video video {
    width: 100%;
    height: auto; /* 비율을 유지하면서 너비에 맞게 조정합니다 */
}
.main_text {
    font-size : 60px;
}

.overlay-text {
    position: absolute;
    top: 50%; /* 텍스트를 중앙에 위치 */
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
    color: white; /* 텍스트 색상 */
    text-align: center;
    font-family: 'Nanum_Bold';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 텍스트에 그림자 효과 */
  }
  
  .overlay-text h1 {
    font-size: 36px; /* 큰 제목 */
    margin: 0;
  }
  
  .overlay-text p {
    font-size: 18px; /* 작은 설명 */
    margin: 10px 0 0;
  }

.sections {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.section {
  flex: 1;
  margin: 0 10px;
}

.section-image {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: #777;
}
