.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0px;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .navbar .logo {
    font-size: 24px;
    color: white;
    margin-right: 100px;
    margin-left: 50px;
  }
  
  .nav-links {
    display: flex;
    margin-top: 5px;
    color: white;
    gap: 50px;
  }
  
  .nav-links a {
    color: white;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .home-container {
    text-align: center;
    font-family: "Nanummyeongjo", sans-serif;
  }
  
  .video-container {
    position: relative;
    width: 100%;
  }
  
  .video video {
    opacity: 70%;
    width: 100%;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: "Nanummyeongjo", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .main-text {
    color: beige;
    font-size: 45px;
  }
  
  .sub-text {
    font-size: 22px;
  }
  
  .sub-color {
    color: beige;
  }
  
  .sections {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .section {
    flex: 1;
    margin: 0 10px;
  }
  
  .section-image {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
  
  .footer {
    margin-top: 40px;
    font-size: 14px;
    color: #777;
  }
  